/*
reglas
selectores
declaraciones
propiedades
valores
*/

/*
selectores de etiqueta individuales {etiqueta, etiqueta, etc}
    header
    section
    article
    nav
selectores descendentes {etiqueta etiqueta etc etc}
    body header div nav ol li a
selector de clase .{nombre de la clase}
    .link
selectores de id #{id}
    #bitacora
*/

/*
Tipos de Letras

Encabezados
https://fonts.google.com/specimen/Amatic+SC
https://fonts.google.com/specimen/Cinzel

Redaccion:
https://fonts.google.com/specimen/Slabo+27px

Bitacora:
https://fonts.google.com/specimen/Poor+Story

Contacto:
https://fonts.google.com/specimen/Satisfy
*/

body {
    /* background: whitesmoke; */
    /* color: purple; */
    font-family: 'Roboto', sans-serif;
    /* font-style: italic; */
    /* background-color: rgb(51, 49, 49); */
    background-color: rgb(57, 58, 59);
    /* margin: 0px auto; */
    /* width: 1000px; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
    font-weight: normal;
}

h1 {
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: -.5px;
    color: white;
    /* text-transform: uppercase; */
    /* text-decoration: underline; */
    /* margin: top right bottom left; */
    margin: 0px;
}

h1 strong {
    color: rgb(51, 154, 238);
}

h2 {
    color: rgb(51, 154, 238);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 40px;
}

.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header h1 {
    /* border: red solid; */
    width: 500px;
}

ol, ul {
    margin: 0 ;
    padding: 0;
    list-style: none;
}

/* figure {
    margin: 0;
} */

.menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.header a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.hero {
    height: 300px;
    /* background-image: url('../images/6007.jpg');
    background-size: 700px, 300px;
    background-repeat: no-repeat;
    background-position-x: right; */
    /* background-color: black; */
    background-color: #1B2121;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero h1 {
    /* width: 670px; */
    font-size: 20px;
}

.hero figure {
    margin: 0;
}

.hero-image  {
    width: 700px;
    height: 300px;
    object-fit: cover;
}

.portfolio {
    /* background-color: #626262; */
    background-color: #FAFAFA;
    padding: 20px;
}

.portfolio h2 {
    margin-left: 20px;
}

.project {
    /* border-top: 10px solid white;
    border-right: 10px solid white;
    border-left: 10px solid white;
    border-bottom: 10px solid white; */
    /* border-color: whitesmoke;
    border-width: 10px;
    border-style: solid; */
    border: 1px solid gray;
    border-radius: 10px;
    /* border-top-left-radius: 50px; */
    background-color: white;
    /* display: flex; */
    /* margin: 10px; */
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 1100px;  */
    /* Ancho Sugerido, Contenido no centrado */
}

.project-title {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-skill {
    margin: 10px 0;
    font-size: 15px;
}

.project-repository,
.project-url {
    margin: 10px 0;
}

.project strong {
    font-family: 'Cinzel', serif;
}

.project-details {
    width: 500px;
    margin: 10px 20px;
    /* margin: 10px auto;  */ /* Alinear */
    font-size: 20px;
}

.project-imageContainer {
    
    width: 500px;
    /* margin: 10px 20px; */
}

.journeylog {
    background-color: #FAFAFA;
}

.journeylog h2 {
    margin-top: 0px;
    margin-left: 20px;
}

.journeylog-container {
    display: flex;
    flex-wrap: wrap;
}

.week {
    /* background-color: white;
    border: 2px solid gray;
    border-radius: 30px;
    margin-bottom: 15px;
    margin: 15px;
    padding: 20px; */
    /* border: 1px solid red; */
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    overflow: hidden; /* Se oculta elemento que pasa del tamaño */
    flex-shrink: 0; /* con flex se ajusta de nuevo a que aparezca la imagen completa, combinado con lo anterior */
    background-color: #F4FBFF;

}

.week figure {
    margin: 0;
}

.week img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.week-details {
    /* margin: top right bottom left; */
    /* margin: 10px 20px; */
    margin: 20px 40px;
    background-color: white;
    margin-top: -40px;
    position: relative; /* Esto combinado con margin negativo hace que se coloce el fondo blanco arriba de la imagen */
    padding: 20px;
    text-align: center;
}

.week-achievement {
    text-align: left;
}

.week-url {
    border: 1px solid #056FFF;
    padding: 5px 20px;
    text-decoration-line: none;
    color: #056FFF;
    border-radius: 5px;
}

.courses {
    background-color: #FAFAFA;
}

.courses h2 {
    margin-top: 0;
    margin-left: 20px;
    padding-top: 50px;
}

.courses-list {
    padding-bottom: 20px;
    margin-left: 70px;
}

.courses ol, ul {
    list-style: square;
}

.courses li {
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding: 0; */
}

.contact h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.contact {
    /* font-family: 'Satisfy', cursive; */
    /* font-family: 'Cinzel', serif; */
    font-family: 'Roboto', sans-serif;
    background-color: #056FFF;
    color: white;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-email input {
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
}

.form-email #inputPaisSuscripcion {
    width: 40px;
    padding: 10px 5px;
}

.form-email #inputCorreoSuscripcion {
    padding: 10px 30px;
    background-image: url('../images/contact/icon_mail.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email #inputSuscribete {
    display: block;
    background: transparent;
    border-color: white;
    color: white;
    /* padding: 5px 0px; */
    padding: 5px 0;
    border-radius: 5px;
    width: 100px;
    /* margin: 10px auto 0; */
    margin-top: 10px;
}

.social {
    /* border: 1px solid red; */
}

.social-link {
    width: 50px;
    height: 50px;
    /* border: 1px solid white; */
    /* Las a tienen display inline por default y por esa razon no se respesta el ancho */
    display: inline-block;
    background-size: 50px 50px;
    margin: 0 10px;
}

.social-link.twitter {
    background-image: url('../images/contact/social_media_twitter.svg');
    /* background-size: 50px 50px; */
}

.social-link.github {
    background-image: url('../images/contact/social_media_github.svg');
    /* background-size: 50px 50px; */
}

.social-link.linkedin {
    background-image: url('../images/contact/social_media_linkedin.svg');
    /* background-size: 50px 50px; */
}

.flexbox {
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: column; */
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly;  */
    height: 300px;
    border: 1px solid blue;
    align-content: center;
    justify-content: center;
}

.box {
    /* width:  200px;
    height: 200px;
    margin: 20px; */
    width:  50px;
    height: 50px;
    margin: 5px;
    border: 1px solid red;
    flex-shrink: 0;
}

.footer {
    background-color: #1B2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
}

.container {
    /* border: 1px solid red; */
    /* max-width: 1000px; */
    /* min-width: 1000px; */
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}